# https://github.com/github/gitignore/blob/master/Leiningen.gitignore
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# https://github.com/duct-framework/duct/blob/master/lein-template/resources/leiningen/new/duct/base/gitignore
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn

# Local
/doc
